.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 30px;
    z-index: 2;
}

.left-section {  
    display: flex;
}

.icon-opcoes {
    width: 20px;
    margin: 0 15px;
}

.youtube-logo {
    width: 70px;
    margin-left: 5px;
}

.middle-section {
    max-width: 350px;
    flex: 1;
    margin: 0 70px 0 35px;
    display: flex;
    align-items: center;

}

.search-button {
    width: 50px;
    height: 34px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(192, 192, 192);
    margin: 0 5px 0 -1px;
    position: relative;
    cursor: pointer;
}

.voice-button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.search-bar {
    flex: 1;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-size: 12px;
}

.search-icon {
   height: 20px;
   margin-top: 3px;
}

.voice-button-icon {
    height: 20px;
 
}

.right-section {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

.record-icon {
    height: 20px;

}

.grid-icon {
    height: 20px;
}

.bell-icon {
    height: 20px;
}

.profile-picture-bar {
    height: 25px;
    border-radius: 40px;
    margin-right: 5px;
}

.notification {
    position: relative;
    z-index: 1;
}

.notification-n {
    background-color: red;
    color: white;
    font-size: 8px;
    position: absolute;
    top: -1px;
    right: -3px;
    border-radius: 20px;
    padding: 1px 4px;
}

.search-button:hover {
    background-color: rgb(224, 224, 224);
}

.notification .tooltip,
.apps-icon .tooltip,
.create-icon .tooltip,
.apps-icon .tooltip,
.notification .tooltip,
.voice-button .tooltip,
.search-button .tooltip {
    background-color: gray;
    font-size: 11px;
    padding: 4px 8px;
    position: absolute;
    bottom: -35px;
    color: white;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.notification:hover .tooltip,
.apps-icon:hover .tooltip,
.create-icon:hover .tooltip,
.search-button:hover .tooltip,
.voice-button:hover .tooltip {
    opacity: 1;
}

.voice-button:hover {
    background-color: rgb(224, 224, 224);
}

.notification,
.apps-icon,
.create-icon,
.search-button,
.voice-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}